{# templates/select/select.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Select Company{% endblock %}

{% block body %}
    <h1>Your Companies</h1>

    {% if companies is iterable and companies|length > 0 %}
        <ul>
            {% for company in companies %}
                <li>{{ company.name }}</li> {# Assurez-vous que 'name' est bien un attribut de Company #}
            {% endfor %}
        </ul>
    {% else %}
        <p>No companies found.</p>
    {% endif %}
{% endblock %}
